{{ block "index" .}}
<html>
  <head>
    <title>Our First HTML Site!</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
  </head>
  <body>
    {{ template "form" .}}
    <hr />
    {{ template "display" .}}
  </body>
</html>
{{ end }} 


{{ block "form" . }} 
    <form hx-post="/contacts">
      name: <input type="text" name="name">
      email: <input type="text" name="email">
      <button type="submit">Create Contact</button>
    </form>
{{ end }}

{{ block "display" .}}
 <div style="display: flex; flex-direction: column;">
  {{range .Contacts}}
    <div>
      Name: <span>{{.Name}}</span>
      Email: <span>{{.Email}}</span>
    </div>
  {{end}} 
 </div>
{{end}} 
